.header {
  @extend %flex-centered;
  height: $header-height;
  background: top / cover no-repeat url(../assets/img/header-background.jpg);
}

.header__title {
  font-size: 3.2rem;
  @extend %main-font;
  user-select: none;
}