@import "../../node_modules/normalize.scss/normalize";
@import "abstract/constants";
@import "abstract/placeholders";
@import "base/_base.scss";
@import "components/card";
@import "components/navigation";
@import "layout/wrapper";
@import "layout/header";

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
}
