.card-container {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  font-size: 1.5rem;
  text-align: center;
  @extend %card-transition;
  &_hidden {
    opacity: 0;
  }
}

.poster-container {
  width: 100%;
  height: 465px;
  @extend %flex-centered;  
  overflow: hidden;
}

.card__poster {
  display: block;
  height: 100%;
  object-fit: contain;
}

.card__title {
  height: 10%;
  @extend %flex-centered;
}

.card__title__link {
  @extend %font-for-links;
}

.card__rating {
  height: 3%;
  @extend %flex-centered;
}

.rating__icon {
  height: 20px;
}

.option-link-container {
  padding: 3px 0;
  display: flex;
  justify-content: space-around;
}

.option-link {
  display: inline-block;
  @extend %font-for-links;
}

.card__year {
  height: 3%;
  @extend %flex-centered;
}