.search-container {  
  padding: 10px 0 0 0;
  @extend %flex-centered;
  width: 100%;
}
.search {
  position: relative;
  @extend %flex-centered;
  width: 80%;
  height: 36px;
}

.search__input {
  width: calc(100% - 75px);  
  height: 100%;
  padding: 0 40px;
  border: 2px solid $color-secondary;  
  font-size: 2rem;
  line-height: 1;
  color: $color-primary;
  &::placeholder {    
    color: $color-breeze;
    filter: opacity(40%);    
  }
  &:focus {
    outline: 0;    
  }
}

.search__button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75px;
  height: 100%; 
  overflow: hidden;  
}

.search__button {  
  margin: 0;
  padding-left: 10px;
  min-width: calc(100% + 10px);
  height: 100%;
  background: $color-secondary;
  @extend %main-font;
  &:active {    
    filter: brightness(70%);    
  }  
}