.swiper-container {
  width: 90%;
  height: 70vh;
}

.swiper-wrapper {
  margin: auto;
  // width: 85%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .swiper-button-hidden {
    display: none;
  }
}