%main-font {
  font-family: 'Istok Web', Verdana, sans-serif;
  color: white;
}

%card-transition {
  transition: opacity 1s;
}

%button-transition {
  transition: all 0.3s;
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}