%main-font {
  font-family: 'Istok Web', Verdana, sans-serif;
  color: white;
}

%font-for-links {
  font-family: 'Istok Web', Verdana, sans-serif;
  font-size: 1.6rem;
  color: $color-primary;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-shadow: 1px 1px 1px $color-field;
  }    
}

%card-transition {
  transition: opacity 1s;
}

%button-transition {
  transition: all 0.3s;
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}