$backround-of-header: #eeeeee;
$backround-of-main: #fae9c8;
$background-word: #eeeeee;
$background-score: #eeeeee;
$color-main: #43c6ac;
$color-main-gradient: #f8ffae;
$color-secondary: #f37335;
$color-secondary-gradient: #fdc830;
$color-repeat-button: #dc2424;
$color-start-button-text: white;
$color-button-shadow: #fdc830;
$color-of-shadow: grey;
$color-of-selected-link: #0575E6;
$color-knob-switch: #fdc830;
$color-border-image-category:#fefefe;
$switch-width: 92px;
$switch-height: 34px;
$switch-padding: 0;
$switch-size: $switch-height - 2 * $switch-padding;
$switch-transition: $switch-width - $switch-size - 2 * $switch-padding + 1px;
$switch-radius: 17px;

