/* Card on main page */
.category__backing {
  position: relative;
  margin: 0.7%;
  margin-top: 2%;
  width: 23%;
  height: 15vw;  
  background: linear-gradient(to bottom, $color-main, $color-main-gradient);
  // background: linear-gradient(to bottom, #f12711, #f5af19);
  border: 0;   
  border-radius: 10px;
  overflow: hidden; 
  cursor: pointer;
  @extend %transition;  
  box-shadow: 0 0 5px 2px $color-of-shadow;
  &:hover {
    box-shadow: 0 5px 20px 4px $color-of-shadow;
  }
  &_game {
    background: orange;
  }  
}

.category__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 11vw;
  height: 11vw;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 10px solid white;
  border-radius: 50%;
  overflow: hidden; 

}

.category__image {
  display: block;
  height: 100%;
}

.category__word {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;    
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: transparent;     
}




/* Card in category */
.card-hidden {
  opacity: 0;
}

.flip-container {
  position: relative;
  margin: 0.7%;
  margin-top: 2%;
  width: 23%;
  height: 15vw; 
  background: transparent;
  cursor: pointer;  
  perspective: 900px;
  transition: all 0.5s;  
}

.card-flipper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; 
  border: 0;   
  border-radius: 10px;  
  transform-style: preserve-3d;   
  @extend %transition;
  box-shadow: 0 0 5px 2px $color-of-shadow;
  &:hover {
    box-shadow: 0 5px 20px 4px $color-of-shadow;
  }  
  &_rotated {
    transform: rotateY(-180deg);
  }  
}

.card { 
  position: relative;  
  z-index: 2;  
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border: 0;   
  border-radius: 10px;
  @extend %transition;
  &_back {
    position: absolute;
    top: 0;
    left: 0;    
    transform: rotateY(180deg);
  }      
}

.card__image {
  display: block; 
  width: 100%;
  height: 100%;
}

.card__word {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;    
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17%;
  background-color: $background-word;
  opacity: 1;
  @extend %transition;
  &_hidden {
    opacity: 0;
    user-select: none;
  }    
}

.card__button {
  position: absolute;
  bottom: 0;
  right: 3px;
  height: 100%;
  transform: rotateX(35deg);
  border-radius: 50%;
  background-color: transparent;
  @extend %transition;
  &_hidden {
    display: none;
  }
  &:hover {
    transform: rotateX(55deg) rotateZ(-90deg) ;
    background-color: rgba(100, 100, 100, 0.1);     
  }      
} 

@media (max-width: 1599px) {
  .category__backing {    
    margin: 1%;
    margin-top: 3%;
    width: 31%;
    height: 20.7vw;  
  }
  .category__image-container {    
    width: 15vw;
    height: 15vw;
  }
  .flip-container {   
    margin: 1%;
    margin-top: 3%;
    width: 31%;
    height: 20.7vw;
  }
}

@media (max-width: 1279px) {
  .category__backing {    
    margin: 1.5%;
    margin-top: 4.5%;
    width: 43%;
    height: 28.7vw;  
  }
  .category__image-container {    
    width: 20vw;
    height: 20vw;
  }
  .flip-container {    
    margin: 1.5%;
    margin-top: 4.5%;
    width: 43%;
    height: 28.7vw;  
  }
}

@media (max-width: 767px) {
  .category__backing {    
    margin: 3%;
    margin-top: 6%;
    width: 80%;
    height: 53.3vw;  
  }
  .category__image-container {    
    width: 38vw;
    height: 38vw;
  }  
  .flip-container {    
    margin: 3%;
    margin-top: 6%;
    width: 80%;
    height: 53.3vw; 
    font-size: 2.5rem;
  }
}