.navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; 
  height: 100vh;
  width: 20%;
  background: linear-gradient(to right, $color-main, $color-main-gradient);
  @extend %transition;  
  &_hidden {
    transform: translateX(-100%);
  }  
}

.navigation-menu__list {
  list-style: none;  
}

.navigation-menu__list__item {
  margin-top: 15px;    
  cursor: pointer;
  @extend %transition;
  &:hover {
    text-shadow: 2px 2px 3px $color-of-shadow;
  }
  &_selected {
    color: $color-of-selected-link;
    text-decoration: underline;
  }
}

@media (max-width: 1599px) {
  .navigation-menu {
    width: 30%;
  }
}

@media (max-width: 1279px) {
  .navigation-menu {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .navigation-menu {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .navigation-menu {
    width: 73%;
  }
}