
/* Menu Button*/ 
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  border: 0;
  outline: 0;
  cursor: pointer;
  & input {
    display: none;
  }
  &:hover .menu-button__line {    
    box-shadow: 0 0 20px 3px $color-button-shadow;
  } 
}

.menu-button__line {
  margin: 0 auto;    
  width: 80%;
  height: 3px;   
  background-color: grey;
  @extend %transition;
  &:not(:first-of-type) {
    margin-top: 5px;
  }
}

/* Menu Button transform to chest */
.menu-button>input:checked ~ .menu-button__line {
  &:last-of-type {
  transform: translateY(-8px) rotateZ(45deg);
  }
  &:first-of-type {
    transform: translateY(8px) rotateZ(-45deg);  
  }
  &:nth-of-type(2) {
    transform: rotateZ(-45deg);  
  }
}

/* Game control button */
.game-control {  
  opacity: 1;
  cursor: pointer;
  @extend %transition;
  &_hidden {
    opacity: 0;
    cursor: default;
  }
}

.game-control__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px 3px 5px;
  width: 120px;
  height: 54px;
  background: linear-gradient(to left, $color-secondary, $color-secondary-gradient);
  outline: 0;
  border: 0;
  border-radius: 10px;
  cursor: inherit;
  @extend %transition;  
  &:hover {
    box-shadow: 0 0 5px 4px $color-button-shadow;
  }
  &:active {
    filter: brightness(80%);
    & img {
      transform: rotateZ(-360deg) scale(1.1);
    }
  }
  &_repeat {
    padding: 0;
    width: 54px;
    border-radius: 50%;
    background: $color-repeat-button;
  }
}

.game-control__button__icon {
  display: block;
  &>img {
    display: block;
    @extend %transition;
  }
  
}

.game-control__button__text {  
  color: $color-start-button-text;
}

.card__button {
  position: absolute;
  bottom: 0;
  right: 3px;
  height: 100%;
  transform: rotateX(35deg);
  border-radius: 50%;
  background-color: transparent;
  @extend %transition;
  &_hidden {
    display: none;
  }
  &:hover {
    transform: rotateX(55deg) rotateZ(-90deg);       
  }      
}
