/* The switcher */
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  font-size: 2rem;
  border-radius: $switch-radius;
  & input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, $color-main, $color-main-gradient);
  
  border-radius: $switch-radius;  
  @extend %transition;  
  &:before {
    position: absolute;
    content: "";    
    height: $switch-size;
    width: $switch-size;
    left: $switch_padding;
    bottom: $switch_padding;
    background-color: white;
    border-radius: $switch-radius;
    @extend %transition
  }
  &:after {
    content: "train";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;    
    width: $switch-width;
    height: $switch-height;      
    text-transform: capitalize;
    @extend %transition;  
  }
   
}

/* Swither transform */
.switch>input:checked + .slider {
  background: linear-gradient(to left, #f12711, #f5af19);
  &:before {
    -webkit-transform: translateX($switch-transition);
    -ms-transform: translateX($switch-transition);
    transform: translateX($switch-transition);
  }
  &:after{
    content: "play";
    text-transform: capitalize;
    justify-content: flex-start;
  }
}

