.keyboard {
    padding: 0.5vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 35%;
    background-color: $main-background;
    box-shadow: 0 -5px 5px grey;
    &_hidden {
      display: none;
    }
}

.keyboard__line {
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
}

.keyboard__line__key {
    margin: 0.3vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2vw;
    color: #ffffff;
    background-color: $color-breeze;
    border-radius: 10%;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
    user-select: none;
    &_wide {
      width: 12.7%;
  }
  &_ultrawide {
    width: 45.7%;
  }
  &_activated {
    background-color: burlywood;
  }
  &_illuminated {
    color: darkorange;
  }
}

.letter-button_uppercase {
    text-transform: uppercase;
}

.material {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 1019px) {
  .keyboard {
    display: none;
  }
}