.location {

}

.location__map {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;

}

.location__maps__image {
  display: block;

}

.location__coordinates {
  font-size: 2rem;
  font-weight: 600;
  text-align: end;
  user-select: text;
}