.location {

}

.location__maps {
  border-radius: 15px;
  overflow: hidden;

}

.location__maps__image {
  display: block;

}

.location__coordinates {

}

.location__coordinates__l {
  font-size: 2rem;
  font-weight: 600;
  text-align: end;

}