.weather {
  height: 100%;
  max-width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.weather__location {
  width: 100%;
}

.weather__location__city {
  font-size: 4.4rem;
}

.weather__location__date {
  font-size: 2.4rem;
  font-weight: 600;
}

.weather__current {
  @extend %flex-between;
  align-items: flex-end;
}

.weather__current__temp {
  font-size: 30.6rem;  
  &::after {
    content: '°';
    
    vertical-align: top;
    font-size: 18rem;
  }  
}

.weather__current__condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather__current__icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weather__current__list {
  font-size: 2.2rem;
  line-height: 1.8;
  & li {
    list-style: none;
  }
}

.weather__forecast {
  font-size: 2.2rem;  
}