.card-container__card {
  display: inline-block;
  margin: 1%;
  height: 100%;   
  border: 0;   
  border-radius: 10px;
  overflow: hidden;  
  @extend %transition;
  &:hover {
    box-shadow: 0 5px 20px 2px grey;
  }
}

.card__image {
  vertical-align: top;
}