.card-container__card {  
  display: inline-block;
  margin: 1%;
  width: 390px;
  height: 280px;   
  border: 0;   
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;  
  @extend %transition;
  &:hover {
    box-shadow: 0 5px 20px 2px grey;
  }
  &_hidden {
    opacity: 0;
  }
}

.card__image {
  display: block; 
}
