.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navigation-button {
  width: 40px;
  height: 40px;  
  background: green url('../assets/icons/Burger-menu-icon.svg') center no-repeat ;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}