.control {
  width: 100%;
  padding: 40px 0;
  @extend %flex-between;
  align-items: flex-start;
}

.selectors {
  width: 225px;
  flex-shrink: 0;  
  @extend %flex-between;
}

.refresh-button {
  @extend %flex-center;
  @extend %curved-angle;
  background-image: url("../assets/icons/autorenew.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.selectors__lang-selector {
  padding: 0 10px;
  width: 71px;
  height: $control-height;
  background-color: $color-button;
  opacity: 0.85;
  font-size: 1.4rem;
  outline: 0;
  @extend %curved-angle;
  @extend %hover-control;
  cursor: pointer;
  & option {
    font-weight: bold;
  } 
}

.selectors__temp-selector {
  width: 88px;
  @extend %flex-between;
  @extend %curved-angle;
}

.temp-button {
  transition: all 0.3s;
  &_unactive {
    background-color: $color-unactive;
    color: $color-button;
  }
}

.search-container {
  max-width: 375px;  
  flex-grow: 1;
  margin-left: 20px;
}

.search {  
  height: $control-height;  
  @extend %flex-between;
  @extend %curved-angle;
  border: 2px solid $color-button;   
}

.search__input {
  padding: 10px;
  height: 100%;
  flex-grow: 1;
  background-color: $search-color;
  font-size: 1.4rem;
  color: white;
  border: 0;
  user-select: text;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;    
  }    
}

.search__button {
  width: 100px;  
}

.search__message {
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: normal;
}

@media (max-width: 640px) {

  .control {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .selectors {
    max-width: 280px;
    width: 100%;
    margin-bottom: 10px;  
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .search__button {
    display: none; 
  } 

}
