.score {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 10px;
  width: 95%;
  height: 3vh;
  border-radius: 4vh;
  background-color: $background-score;
  box-shadow: 0 0 3px 1px $color-of-shadow;
  user-select: none;  
  @extend %transition;
  &_hidden {
    opacity: 0;
  }
}

.score__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.score__image {
  display: block;
  height: 100%;
}