.weather {
  height: 100%;
  max-width: 740px;
  width: 60vw;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.weather__location {
  width: 100%;
}

.weather__location__city {
  font-size: 4.4rem;
}

.weather__location__date {
  font-size: 2.4rem;
  font-weight: 600;
}

.weather__current {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.weather__current__temp {
  font-size: 30.6rem;   
  &::after {
    content: '°';    
    vertical-align: top;
    font-size: 18rem;
  }  
}

.weather__current__condition {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather__current__icon {
  display: block;
  width: 80%;
  object-fit: contain;
}

.weather__current__list {
  font-size: 2.2rem;
  line-height: 1.6;
  & li {
    list-style: none;    
  }
  & li:not(:first-child) {
    white-space: nowrap;    
  }
}

@media (max-width: 1279px) {
  .weather {
    width: calc(100vw - 440px);
  }
  .weather__current__temp {
    font-size: 23vw;   
    &::after {
      content: '°';    
      vertical-align: top;
      font-size: 10vw;
    }  
  }
  .weather__current__list {
    font-size: 1.8vw;
  }
}

@media (max-width: 959px) {
  .weather {
    width: 100%;
  }

  .weather__current__temp {
    font-size: 30vw;   
    &::after {
      content: '°';    
      vertical-align: top;
      font-size: 12vw;
    }  
  }

  .weather__current__list {
    font-size: 3.2vw;
    line-height: 1.2;
  }
}

@media (max-width: 639px) {
  .weather__location__city {
    font-size: 3rem;
  }

  .weather__location__date {
    font-size: 2rem;
  }
}

@media (max-width: 479px) {
  .weather__current {
    flex-direction: column;
  }

  .weather__current__condition {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }  

  .weather__current__list {    
    font-size: 4vw;
  }

  .weather__current__icon {    
    width: 30%;
  }
}
