.wrapper { 
  max-width: 100vw;
  margin: auto;
  padding: 0 40px;  
}

@media (max-width: 959px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 639px) {
  .wrapper {
    padding: 0 15px;
  }
}
