$color-primary: #286da8;
$color-secondary: #cd5360;
$color-button: #aeb5b9;
$color-unactive: #4c5255;
$search-color: rgba(174, 181, 185, 0.3);
$overlay-color: rgba(8, 15, 26, 0.5);
$control-height: 44px;