.button {
  margin: 0;
  width: $control-height;
  height: $control-height;
  background-color: $color-button;
  opacity: 0.85;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}